* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;

    background-image: url(../img/desktop-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container h1 {
    color: #7B2CBF;
}

.container {
    width: 420px;
    height: 640px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    background: #080808;
    border-radius: 8px;
    color: white;
}

.container p {
    padding: 48px;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.container a {
    text-decoration: none;
    padding: 16px;
}

#loginButton {
    border: 1px solid #7B2CBF;
    border-radius: 8px;
    color: white;

    transition: all .2s;
}

#loginButton:hover {
    border: 1px solid #7B2CBF;
    background: #7B2CBF;
}

#registerButton {
    background: #7B2CBF;
    border-radius: 8px;
    color: white;

    transition: all .2s;
}

#registerButton:hover {
    background: white;
    color: #7B2CBF;
}