<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Importando as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importando o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/loginPage.css") }}">
    <title>Purple Velvet - Login</title>
</head>
<body>
    <div class="container">
        <h1>Página de login</h1>
        <form action="" method="POST">
            <!-- Secret Key para segurança do formulário -->
            {{ form.csrf_token }}

            <!-- Input para o nome do usuário -->
            <label for="username">Usuário</label>
            {{ form.username(class="userInput", placeholder="Nome de usuário") }}
            {{ form.hidden_tag() }}

            <!-- Input para a senha -->
            <label for="password">Senha</label>
            {{ form.password(class="pwdInput", placeholder="Sua senha") }}
            {{ form.hidden_tag() }}

            <!-- Checkbox para lembrar do usuário -->
            {{ form.rememberMe }}
            {{ form.hidden_tag() }}
            <label for="rememberMe">Lembrar de mim</label>

            <!-- Botão para confirmar -->
            <label for="submit"></label>
            <button type="submit">Fazer login</button>
        </form>
    </div>
</body>
</html>